.main-element {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.2)),
            to(rgba(0, 0, 0, 0.5))
        ),
        url(./images/26afbfd6f4b0f7d2c0352d2c78f559db.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
        url(./images/26afbfd6f4b0f7d2c0352d2c78f559db.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    font-family: "Roboto";
    font-weight: 300;
}

body {
    margin: 0px;
}

.navbar {
    display: inline-block;
    width: calc(100vw - 40px);
    padding-left: 20px;
    padding-right: 20px;
    float: left;

    h3 {
        float: left;
        font-weight: 500px;
    }
}
.menu {
    color: white;
    float: right;
    padding-top: 20px;
    padding-right: 30px;
}
.content {
    clear: both;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;

    p {
        margin: 0px;
    }

    h1 {
        font-size: 48px;
    }

    bottom-text {
        font-size: 16px;
        padding: 10px;
    }

    top-text {
        font-weight: 500;
        font-size: 48px;
    }

    h5 {
        font-size: 25px;
    }
}
@media (min-width: 1360px) {
    .flex_row {
        display: flex;
    }
    .pixel {
        height: 50vh;
        width: calc(100% - 50px);
        color: black;
        border: 1px black;
        text-align: center;
        background-color: white;
        position: relative;
        top: -80px;
        margin-left: 25px;
        padding-top: 34px;
        border: 1px solid grey;

        h6 {
            font-size: 18px;
            font-weight: 500;
            font-family: "Roboto";
        }

        p {
            font-size: 14px;
            line-height: 1.6;
            margin-top: 20px;
        }
    }
    .circle {
        width: 79px;
        height: 79px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ce2020;

        img {
            height: 71px;
            width: 71px;
        }
    }
}
@media (max-width: 1359px) {
    .flex_row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: -80px;

        .pixel {
            height: 50vh;
            width: calc(100% - 50px);
            color: black;
            border: 1px black;
            text-align: center;
            background-color: white;
            margin-left: 25px;
            padding-top: 34px;
            margin-bottom: 15px;
            border: 1px solid grey;

            h6 {
                font-size: 18px;
                font-weight: 500;
                font-family: "Roboto";
            }

            p {
                font-size: 14px;
                line-height: 1.6;
                margin-top: 20px;
            }
        }
    }
    .circle {
        width: 79px;
        height: 79px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ce2020;

        img {
            height: 71px;
            width: 71px;
        }
    }
}
@media (min-width: 1360px) {
    .second-part {
        background: url(./images/33581d05cec4a3308cd79979a51eed9d.jpeg);
        height: 606px;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        display: flex;
        justify-content: flex-end;

        .left-part {
            flex: 1;
        }
        .right-part {
            flex: 1;
            display: flex;
            flex-direction: column;

            .top {
                flex: 1;
                .second_content {
                    // position: relative;
                    right: -20px;
                    height: calc(100%- 30px);
                    width: calc(100%- 50px);
                    color: black;
                    border: 1px solid grey;
                    padding-left: 100px;
                    padding-top: 10px;
                    background: white;
                    opacity: 0.7;
                    padding-bottom: 20px;

                    p {
                        margin: 0px;
                        padding-left: 10px;
                    }

                    h2 {
                        font-size: 24px;
                        padding-left: 10px;
                    }
                    h5 {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                }
            }
            .bottom {
                display: flex;
                flex: 1;
                .second_content_vol2 {
                    flex: 1;
                    // position: relative;
                    height: calc(100%- 30px);
                    width: calc(100% - 50px);
                    color: black;
                    border: 1px solid grey;
                    padding-top: 10px;
                    background: white;
                    opacity: 0.7;
                    padding-bottom: 20px;

                    p {
                        margin: 0px;
                        padding-left: 10px;
                    }
                    h5 {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                    img {
                        height: 70px;
                        width: 70px;
                    }
                }
                .second_content_vol3 {
                    // position: relative;
                    flex: 1;
                    height: calc(100%- 30px);
                    width: calc(100% - 50px);
                    color: black;
                    border: 1px solid grey;
                    padding-top: 10px;
                    background: white;
                    opacity: 0.7;
                    padding-bottom: 20px;

                    p {
                        margin: 0px;
                        padding-left: 10px;
                        font-size: 15px;
                    }
                    h5 {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                    img {
                        padding-top: 15px;
                        padding-left: 20px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1359px) {
    .second-part {
        background: url(./images/33581d05cec4a3308cd79979a51eed9d.jpeg);
        height: 997px;
        background-size: cover;
        background-position: 10% 30%;
        color: white;
        font-family: "Roboto";
        font-weight: 300;

        .second_content {
            position: relative;
            height: calc(100%- 30px);
            width: calc(100% - 50px);
            color: black;
            border: 1px solid grey;
            margin-left: 25px;
            padding-top: 10px;
            background: white;
            opacity: 0.7;
            padding-bottom: 20px;

            p {
                margin: 0px;
                margin-left: 30px;
            }

            h2 {
                font-size: 24px;
                margin-left: 30px;
            }
            h5 {
                font-size: 20px;
                margin-left: 30px;
            }
        }
        .second_content_vol2 {
            position: relative;
            height: calc(100%- 30px);
            width: calc(100% - 50px);
            color: black;
            border: 1px solid grey;
            margin-left: 25px;
            padding-top: 10px;
            background: white;
            opacity: 0.7;
            padding-bottom: 20px;

            p {
                margin: 0px;
                margin-left: 30px;
            }
            h5 {
                font-size: 20px;
                margin-left: 30px;
            }
            img {
                height: 70px;
                width: 70px;
            }
        }
        .second_content_vol3 {
            position: relative;
            height: calc(100%- 30px);
            width: calc(100% - 50px);
            color: black;
            border: 1px solid grey;
            margin-left: 25px;
            padding-top: 10px;
            background: white;
            opacity: 0.7;
            padding-bottom: 20px;

            p {
                margin: 0px;
                padding-left: 10px;
                font-size: 15px;
            }
            h5 {
                font-size: 20px;
                padding-left: 10px;
            }
            img {
                padding-top: 15px;
                padding-left: 20px;
                height: 50px;
                width: 50px;
            }
        }
    }
}
@media (min-width: 1360px) {
    .container_third_fourth {
        display: flex;
        width: 100%;

        .third_part {
            font-family: "Roboto";
            font-weight: 300;
            background-color: black;

            img {
                width: 360px;
            }

            .third_content {
                color: white;
                margin-top: -38px;
                h5 {
                    font-size: 20px;
                    padding-top: 40px;
                    color: rgba(134, 151, 182, 0.938);
                }
                h4 {
                    font-size: 20px;
                    color: white;
                }
                p {
                    font-size: 14px;
                    color: rgb(182, 175, 175);
                }
            }
            .hiperlink {
                font-size: 16px;
                color: rgba(134, 151, 182, 0.938);
                padding-bottom: 20px;
            }
        }
        .fourth_part {
            font-family: "Roboto";
            font-weight: 300;
            background-color: black;

            img {
                width: 360px;
            }
            .fourth_content {
                color: white;
                margin-top: -38px;
                h5 {
                    font-size: 20px;
                    padding-top: 40px;
                    color: rgba(134, 151, 182, 0.938);
                }
                h4 {
                    font-size: 20px;
                    color: white;
                }
                p {
                    font-size: 14px;
                    color: rgb(182, 175, 175);
                }
            }
            .hiperlink_vol2 {
                font-size: 16px;
                color: rgba(134, 151, 182, 0.938);
                padding-bottom: 20px;
            }
        }
    }
}
@media (max-width: 1359px) {
    .container_third_fourth {
        width: 100%;

        .third_part {
            font-family: "Roboto";
            font-weight: 300;
            background-color: black;

            img {
                width: 360px;
            }

            .third_content {
                color: white;
                margin-top: -38px;
                h5 {
                    font-size: 20px;
                    padding-top: 40px;
                    color: rgba(134, 151, 182, 0.938);
                }
                h4 {
                    font-size: 20px;
                    color: white;
                }
                p {
                    font-size: 14px;
                    color: rgb(182, 175, 175);
                }
            }
            .hiperlink {
                font-size: 16px;
                color: rgba(134, 151, 182, 0.938);
                padding-bottom: 20px;
            }
        }
        .fourth_part {
            font-family: "Roboto";
            font-weight: 300;
            background-color: black;

            img {
                width: 360px;
            }
            .fourth_content {
                color: white;
                margin-top: -38px;
                h5 {
                    font-size: 20px;
                    padding-top: 40px;
                    color: rgba(134, 151, 182, 0.938);
                }
                h4 {
                    font-size: 20px;
                    color: white;
                }
                p {
                    font-size: 14px;
                    color: rgb(182, 175, 175);
                }
            }
            .hiperlink_vol2 {
                font-size: 16px;
                color: rgba(134, 151, 182, 0.938);
                padding-bottom: 20px;
            }
        }
    }
}
@media (max-width: 1359px) {
    .form {
        background-color: black;
        color: white;
        text-align: left;
        padding-left: 30px;
        height: 400px;

        .content_form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .button {
            background-color: rgb(55, 108, 112);
            width: 50px;
        }
    }
}
